{% extends 'adminPanel/layout.html' %}
{% block title %} Change Password {% endblock %}

{% block content %}
    <style>
        /* Resetting default browser styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* Login container styling */
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .login-form {
        background: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 550px;
        text-align: center;
    }

    .login-form h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .input-group {
        margin-bottom: 15px;
        text-align: left;
    }

    .input-group label {
        display: block;
        font-size: 14px;
        color: #333;
        margin-bottom: 5px;
    }

    .input-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
    }

    .input-group input:focus {
        border-color: #188ae2;
        outline: none;
    }

    .submit-group {
        margin-top: 20px;
    }

    .submit-group button {
        width: 100%;
        padding: 10px;
        background-color: #188ae2;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    .submit-group button:hover {
        background-color: #188ae2;
    }

    .forgot-password {
        margin-top: 15px;
    }

    .forgot-password a {
        color: #4CAF50;
        text-decoration: none;
    }

    .forgot-password a:hover {
        text-decoration: underline;
    }
    </style>

    <div class="row">
      <div class="col-lg-12 mt-3">
        <div class="card-body">
          <div class="login-container">
            <div class="login-form">
                <form method="post">
                    {% csrf_token %}

                    {% if messages %}

                            {% for message in messages%}

                                {% if message.tags == 'success' %}
                                <div class="alert alert-warning alert-dismissible fade show" style="width: 100%; padding: 8px; text-align: center; background-color: green; color: white; border-radius: 5px; margin-bottom: 15px" role="alert">
                                    {{message}}
                                    <span aria-hidden="true"  onclick="this.parentElement.style.display='none'">&times;</span>

                                </div>
                                {% endif %}

                                {% if message.tags == 'error' %}
                                <div class="alert alert-warning alert-dismissible fade show" style="width: 100%; padding: 8px; text-align: center; background-color: red; color: white; border-radius: 5px; margin-bottom: 15px" role="alert">
                                    {{message}}
                                    <span aria-hidden="true"  onclick="this.parentElement.style.display='none'">&times;</span>

                                </div>
                                {% endif %}

                            {% endfor %}

                        {% endif %}
                     <h2>Change Password</h2>
                    <div class="input-group">
                        <label >Old Password</label>
                        <input type="password" id="old_password" name="old_password" required>
                    </div>
                    <div class="input-group">
                        <label>New Password</label>
                        <input type="password" id="new_password" name="new_password" required>
                    </div>
                  <div class="input-group">
                        <label>Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" required>
                    </div>
                    <div class="submit-group">
                        <button type="submit">Change</button>
                    </div>

                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}