{% extends 'front/index.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<!--  Project Title Section  -->
    <div class="width-100">
        <img class="slider-width" src="/static/assets/images/pic/convocation_img.png">
          <div class="centered">WELCOME TO THE STUDENT MANAGEMENT SYSTEM</div>
    </div>

    <!-- About Section  -->
    <div class="width-100 aboutUs">
            <div class="container">
                <div class="aboutUs-content animated fadeInUp six">
                    <h4>About Us</h4>

                    <p>
                        The Student Management System (SMS) aims to streamline and automate the management of
                        student-related data within educational institutions. It provides a centralized platform
                        to store and manage student records, including personal details, academic performance,
                        attendance, and fee status. By digitizing these processes, SMS reduces manual workload,
                        minimizes errors, and enhances operational efficiency for administrators, teachers, and
                        staff. It also ensures seamless communication between students, parents, and faculty
                        through notifications, emails, and portals, fostering better engagement and transparency.
                    </p>
                    <p>
                        Another key objective of an SMS is to improve decision-making by offering real-time data
                        analytics and reporting. Institutions can track student progress, generate performance
                        reports, and analyze attendance trends, allowing educators to provide timely support and
                        interventions. Additionally, SMS enhances security by safeguarding student information
                        with role-based access controls and data encryption. By integrating various functions
                        such as timetable scheduling, examination management, and fee collection, the system
                        creates a well-organized educational environment that benefits students, faculty, and
                        administrative personnel.
                    </p>
                </div>
            </div>
    </div>

{% endblock %}